@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --d-cyan: hsl(185, 75%, 39%);
  --s-blue: hsl(229, 23%, 23%);
  --g-blue: hsl(227, 10%, 46%);
  --d-gray: hsl(0, 0%, 59%);
  --f400: 400;
  --f700: 700;
}

* {
  font-family: "Kumbh Sans", sans-serif;
  padding: 0;
  margin: 0;
}
main {
  height: 100vh;
  width: 100%;
  background-color: var(--d-cyan);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    width: clamp(365px, 50%, 700px);
    min-height: 420px;
    background-color: #fff;
    z-index: 99999;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .top-banner {
      width: 100%;
      background: url("./images/bg-pattern-card.svg");
      height: 200px;
    }
    .profile {
      height: 110px;
      width: 110px;
      border-radius: 50%;
      border: 6px solid #fff;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 29%;
    }
    .content {
      padding-top: clamp(40px, 25%, 100px);
      width: 100%;
      text-align: center;

      .name {
        font-weight: var(--f700);

        .age {
          font-weight: var(--f400);
          margin-left: 10px;
          color: var(--d-gray);
        }
      }
      .place {
        font-weight: var(--f400);
        color: var(--d-gray);
        margin-top: 10px;
      }
      .hr {
        background-color: var(--d-gray);
        margin-top: 26px;
        height: 1px;
        width: 100%;
      }
      .stats {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        // padding: 0 40px;

        min-height: 100px;
        font-weight: var(--f700);
        p {
          line-height: 26px;
        }
        .not-bold {
          font-weight: var(--f400);

          color: var(--d-gray);
        }
      }
    }
  }
}

.bg-top {
  position: absolute;
  top: -405px;
  left: -200px;

  transition: left 0.5s ease-in;
  img {
    height: 800px;
    position: inherit;
  }
}

.bg-bottom {
  position: absolute;
  left: 55%;
  top: 55%;

  img {
    height: 850px;
    position: inherit;
  }
}

@media screen and (max-width: 576px) {
  .bg-top {
    left: -476px;
    transition: left 0.5s ease-in;
  }
}
